.layout {
    display: flex;
    min-height: calc(100vh - 220px);

    overflow-y: auto;
}

.content {
    flex: 1;
    position: relative;
        padding: 40px;
}

.content h2{

    color: red;

    font-size:38px;

    margin-bottom:10px;

}

.content p{

    color:#4b627d;

    font-size:18px;

}

.content::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image: url("../../assets/backgrounds/fondo_malvinas_claro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.95;

    z-index: 0;
}

.content > * {
    position: relative;
    z-index: 1;
}